.oneImage {

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid black;
    position: static;
    margin: 2%;
    height: 340px;
    box-shadow: 10px 5px 5px rgb(0, 0, 0) ;
    font-family: Roboto;
}

.description {
    
    /* border: 1px solid black; */
    width: 260px;
    height: 260px;
    display: flex;
    align-items: center;

}

img {
    /* border: 1px solid black; */
    width: 260px;
    height: 260px;
    display: flex;
    align-items: flex-start;

}


.description {

    justify-content: center;

}

.likeButton {
    margin-top: 5px;
}