.images {
    display: flex;
    /* flex-wrap:wrap; */
    flex-direction:row;
    /* align-content:space-between; */
    border-radius: 8px;
    border: 1px solid black;
    padding: 5px;
    /* width: 250px;
    height: 250px; */
}

img, .description {
    
    border: 1px solid black;
    width: 250px;
    height: 250px;

}