.App {
  text-align: center;
  margin-right: 10%;
  margin-left: 10%;
  background-color: rgb(216, 192, 192);

}

.App-header {
  background-color: rgba(216, 216, 216, 0.781);
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 2em;
  font-family: Roboto;
}

