.App {
  text-align: center;
  margin-right: 10%;
  margin-left: 10%;
  background-color: rgb(216, 192, 192);

}

.App-header {
  background-color: rgba(181, 206, 209, 0.52);
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

