.images {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 10%;
    margin-left: 10%;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid black;
    padding: 4%;

}

